<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/captobie/ftx1-remote/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Xu1kV/OxMn0Yx53Wslwdo7zjYDUyiOqjK1a84j33YSk=</string>
</dict>
</plist>
